.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #1c2d15f2;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #1c2d15f2;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .cardColor{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcf0d2+0,fbdc85+50,fccd4a+51,fbe8b5+100 */
background: rgb(252,240,210); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(252,240,210,1) 0%, rgba(251,220,133,1) 50%, rgba(252,205,74,1) 51%, rgba(251,232,181,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(252,240,210,1) 0%,rgba(251,220,133,1) 50%,rgba(252,205,74,1) 51%,rgba(251,232,181,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(252,240,210,1) 0%,rgba(251,220,133,1) 50%,rgba(252,205,74,1) 51%,rgba(251,232,181,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf0d2', endColorstr='#fbe8b5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


  }
  